@* accountMediaTable Template File *@
			<table class="table table-hover" >
			<tr>
				<th>
					@Messages("description")
				</th>
				<th>
					@Messages("media_location")
				</th>
				<th>
					@Messages("delete")					
				</th>
			</tr>
			<tr ng-repeat="media in mediaList">
				<td>
				  <a href="" ng-click="openMediaDialogforUpdate(media.mediaId)">{{media.description}}</a>
				</td>				
				<td>
				   <span class="glyphicon glyphicon-cloud-download pull-left"></span>
				   <img ng-show="media.mediaTypeId=='picture'" width="50%" ng-src="{{media.mediaLocation}}"></a>
				</td>
				<td>
				   <div data-toggle="modal" data-target="#deleteDialogModal" ng-click="deleteMedia(media.mediaId)" ng-mouseover="tempVar='delete-ad-destination-mouse-over'" ng-mouseleave="tempVar=''" ng-class="tempVar" class="glyphicon glyphicon-remove"></span></div>
				</td>
			</tr>
			</table>
@views.html.deleteDialog(Messages("do_you_want_remove_media"))