	@* accounttemplate Template File *@
	<form name="form" role="form" novalidate class="css-form">
		<div ng-show="serverError" class="alert alert-danger alert-dismissable">
			<button type="button" class="close" ng-click="alert=false" aria-hidden="true"></button>
			<strong>{{errorMessage}}</strong> {{error}}
		</div>
		<div class="form-group">
			<label>
				@Messages("information") 
			</label>
			<input maxlength="50" required ng-model="account.companyName" type="text" class="form-control" placeholder="@Messages("company_name")">
			<input maxlength="50" required ng-model="account.firstName" type="text" class="form-control" placeholder="@Messages("first_name")">
			<input maxlength="50" required ng-model="account.lastName" type="text" class="form-control" placeholder="@Messages("last_name")">
		</div>
		<div class="form-group">
			<label>
			@Messages("address") </label>
			<select required ng-model="account.country" class="form-control">
			@views.html.register.accountCountry()
			</select>
			<input maxlength="50" required ng-model="account.address1" type="text" class="form-control" placeholder="@Messages("address")">
			<input maxlength="50" ng-model="account.address2" type="text" class="form-control">
			<input maxlength="50" required ng-model="account.city" type="text" class="form-control" placeholder="@Messages("city")">
			<input maxlength="50" type="text" ng-if="account.country!='US' " contenteditable=true required ng-model="account.state" name="State" class="form-control" placeholder="@Messages("select_state_provinces")">
			<select ng-if="account.country=='US' "  required ng-model="account.state" name="State" class="form-control">
			@views.html.register.accountState()
			</select>
			<input maxlength="10" required ng-model="account.postalCode" type="text" class="form-control" placeholder="@Messages("postal_code")">
		</div>
		<div class="form-group">
			<label>
			@Messages("phone") </label>
			<input maxlength="25" required ng-pattern="validationRegex.digitPhone" ng-model="account.phone1" type="text" class="form-control" placeholder="@Messages("phone1")">
		</div>
		<div class="form-group">
			<label>
			@Messages("email") </label>
			<input maxlength="80" required ng-model="account.email" type="email" name="accountEmail" class="form-control" placeholder="@Messages("email")">
			<br>
			<div style="background-color: LemonChiffon;">
				@Messages("password_validation")
			</div>
			<input maxlength="20" ng-pattern="validationRegex.password" contenteditable=true required ng-model="account.password" type="password" class="form-control" placeholder="@Messages("password")">
			<input maxlength="20" ng-pattern="validationRegex.password" contenteditable=true required ng-model="account.repassword" type="password" class="form-control" placeholder="@Messages("reenter.password")">			
		</div>
	</form>
