@* dashboardP Template File *@
<table ng-init="isCollapsed=true">
<tr>
<td><a href="" ng-click="isCollapsed = !isCollapsed">@Messages("cdr_filter_toggle")<span>..</span></a></td>
<td><span ng-click="isCollapsed = !isCollapsed" ng-show="!isCollapsed" class="glyphicon glyphicon-circle-arrow-up"></span>
  <span ng-click="isCollapsed = !isCollapsed" ng-show="isCollapsed" class="glyphicon glyphicon-circle-arrow-down"></span>
</td>
</tr>
</table>

	<div collapse="isCollapsed">
		<br>
		@views.html.cdr.cdrfilterP()
	</div>
	<br>
	<table class="table table-bordered ">
		<tr>
		<td colspan = "2">
		<button class="btn btn-warning pull-right" ng-click="clearFilter()">@Messages("clear")</button>
		<button class="btn btn-success pull-right" ng-click="refreshData()">@Messages("refresh")</button>
		</td>
		</tr>
		<tr>
			<td width="50%">
				<table>
					<tr>
						@views.html.cdr.callsummarygraph()
					</tr>
				</table>
			</td>
			<td>@views.html.cdr.callsummarytable()</td>
		</tr>
	</table>
