@* adDADialog Template File *@
        <div class="modal-header  alert-success">
            <h3 class="modal-title">@Messages("Ad.DA")</h3>
        </div>
        <div class="modal-body">
      <div class="row">
         <div class="col-md-12">
         <form name="form" role="form" novalidate>
         
			<div class="row">
  					<div class="col-md-2">
     					<span>@Messages("Countries")</span>
  					</div>
  					<div class="col-md-6">
     					<select ng-options="country.name for country in countries" ng-model="data.selectedCountry" ng-change="countryChanged()" class="form-control"></select>
  					</div>
			</div>
   			<div class="row">
      			<div class="col-md-2">
         		<span>@Messages("Destinations")</span>
            </div>
      		<div class="col-md-6">
         		<select required ng-options="destination.name for destination in destinations" ng-model="data.selectedDestination" class="form-control"></select>
      		</div>
     		   	<div class="col-md-2"><button ng-disabled="form.$invalid" class="btn btn-success" ng-click="addAdDa()">@Messages("Add")</button></div>
   			</div>
   			</form>
			<br/>
   			<div>
               <div class="row" style="height:500px;overflow:auto;">
                  <div class="col-md-12">
                     <table class="table table-striped table-bordered table-condensed table-hover">
                        <thead>
                           <tr>
                              <th>@Messages("Destination")</th>
                              <th>@Messages("Delete")</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="da in das">
                           		
                           		<td>{{da.destinationName}}</td>
                                <td><a href="" ng-click="removeAdDa(da)"><span style="color:red;" class="glyphicon glyphicon-remove"></a></td>
                          </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
         </div>
      </div>
   </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">@Messages("Close")</button>
        </div>












