@* templateDialog Template File *@
        <div class="modal-header  alert-success">
            <h3 class="modal-title">@Messages("Ad.DA")</h3>
        </div>
        <div class="modal-body">
         <form name="form" role="form" novalidate>
     			<input required ng-model="data.name" placeHolder="@Messages("Name")" class="form-control">
     			<input required ng-model="data.description" placeHolder="@Messages("Description")" class="form-control">
     			<select required ng-options="media.description for media in mediaList" ng-model="data.media" class="form-control"></select>
     			<img width="50%" ng-src="{{data.media.mediaLocation}}"/>
     			<input required min="1" type="number" ng-model="data.maxDuration" placeHolder="@Messages("Max.Duration")" class="form-control">
     			<input required min="0" type="number" ng-model="data.templateDefaultQty" placeHolder="@Messages("Default.Qty")" class="form-control">
				<input required min="0" type="number" ng-model="data.templateUnitPrice" placeHolder="@Messages("Default.Unit.Price")" class="form-control">     			
				<input required min="0" type="number" ng-model="data.templatePromptCost" placeHolder="@Messages("Default.Prompt.Cost")" class="form-control">
				<br/>
				<input type="checkbox" ng-model="data.byPassSwitch"/>@Messages("By.Pass.Switch")
        <div class="modal-footer">
            <button ng-disabled="form.$invalid" class="btn btn-success" ng-click="save()">@Messages("Save")</button>
            <button class="btn btn-warning" ng-click="cancel()">@Messages("Close")</button>
        </div>
				
   		 </form>
        </div>












