@* destinations Template File *@
      <div class="row">
         <div class="col-md-12">
            <tabset >
               <tab heading="@Messages("Templates")">
               <div class="row">
                  <div class="col-md-12">
                     <Button class="btn btn-md btn-success pull-left" ng-click="createTemplate()">@Messages("Add.New.Template")</Button>
                  </div>
               </div>
               <div class="row" style="height:500px;overflow:auto;">
                  <div class="col-md-12">
                     <table class="table table-striped table-bordered table-condensed table-hover">
                        <thead>
                           <tr>
                              <th>@Messages("No")</th>
                              <th>@Messages("Active")</th>
                              <th></th>
                              <th>@Messages("Name")</th>
                              <th>@Messages("Description")</th>
                              <th>@Messages("Duration")</th>
                              <th>@Messages("Qty")</th>
                              <th>@Messages("Unit.Price")</th>
                              <th>@Messages("Prompt.Cost")</th>
                              <th>@Messages("By.Pass.Switch")</th>
                              <th>@Messages("Destinations")</th>
                              <th>@Messages("Delete")</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="template in templates">
                               <td>{{template.id}}</td>
                               <td>
					                <a href="" ng-click="toggleTemplate(template)">
					                	<span class="glyphicon glyphicon-ok" ng-show="template.active"></span>
					                	<span class="glyphicon glyphicon-remove" ng-show="!template.active"></span>
					                </a>
                					
              					</td>
                           		<td><img ng-src="{{template.mediaLocation}}"/></td>
                                <td><a href="" ng-click="updateTemplate(template)">{{template.name}}</a></td> 
                           		<td>{{template.description}}</td>
                           		<td>{{template.maxDuration | number}}</td>
                           		<td>{{template.templateDefaultQty | number}}</td>
                           		<td>{{template.templateUnitPrice | currency}}</td>
                           		<td>{{template.templatePromptCost | currency}}</td>
                               <td>
     				                <a href=""><span ng-click="toggleBypassSwitch(template)" class="glyphicon glyphicon-ok" ng-show="template.bypassSwitch"></span></a>
                					<a href=""><span ng-click="toggleBypassSwitch(template)" class="glyphicon glyphicon-remove" ng-show="!template.bypassSwitch"></span></a>
              					</td>
              				   <td><a href="" ng-click="updateTemplateDA(template)">@Messages("Edit")</a></td>
                              <td><a href="" ng-click="deleteTemplate(template)"><span style="color:red;" class="glyphicon glyphicon-remove"></a></td>
                              </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               </tab>
               <tab ng-click="accountMediaClicked()" heading="@Messages("Media")">
               <div class="row">
                  <div class="col-md-12">
                     <Button class="btn btn-md btn-success pull-left" ng-click="uploadMedia()">@Messages("Add.New.Media")</Button>
                  </div>
               </div>
               <div class="row" style="height:500px;overflow:auto;">
                  <div class="col-md-12">
                     <table class="table table-striped table-bordered table-condensed table-hover">
                        <thead>
                           <tr>
                              <th>@Messages("Id")</th>
                              <th></th>
                              <th>@Messages("Description")</th>
                              <th>@Messages("Delete")</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="media in mediaList">
                           		<td>{{media.id}}</td>
                           		<td><img ng-src="{{media.mediaLocation}}"/></td>
                           		<td>{{media.description}}</td>
                           		<td><a href="" ng-click="deleteMedia(media)"><span style="color:red;" class="glyphicon glyphicon-remove"></a></td>
							</tr>                              
                        </tbody>
                     </table>
                  </div>
               </div>
               </tab>               
               
            </tabset>
         </div>
      </div>
   </div>
