@* ApplyPaymentDialog Template File *@
<div  class="modal fade"  id="applyPaymentDialog"  tabindex="-1" role="dialog" aria-labelledby="applyPaymentDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div>@views.html.ad.ApplyPayment()</div>
		</div>
   	  <div class="modal-footer">
        <button ng-disabled="!isPaymentSubmitable()" ng-click="submitPayment()" type="button" class="btn btn-primary">@Messages("Submit")<span class="glyphicon glyphicon-save"></span></button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">@Messages("close")</button>
        
      </div>      
    </div>
  </div>
</div>

