@* ApplyPayment Template File *@
      <div class="row">
        <div class="col-md-1">
        </div>      
        <div class="col-md-10">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><h3>@Messages("payment")</h3></h3>
            </div>
            <div class="panel-body">
			  <img width="50%" src="@routes.Assets.at("images/ccimages.jpg")"/>
			  <hr>
			  <h3 class="alert alert-danger" ng-show="saveError" >{{saveError}}</h3>
			  <form class="form-inline" role="form">			
				<div ng-show="paymentDialog">
					<label class="input-lg">@Messages("amount") $</label>
					<input class="form-control input-lg" min="15" style="text-align: right;" type="number" ng-model="fundAmount"/>
				</div>
			</form>			    
			<form class="form-inline" role="form">
                <input maxlength="16" ng-model="cc.cardNum" type="text" class="form-control input-lg" placeholder="@Messages("credit_card_number")">
                <select  style="color:#999;" ng-model="cc.month" class="form-control input-lg"><option value="">@Messages("month")</option></option>@Html(util.Util.monthOptions)</select>
                <select  style="color:#999;"  ng-model="cc.year" class="form-control input-lg"><option value="">@Messages("year")</option>@Html(util.Util.yearOptions)</select>
                <input  style="width:15%;" maxlength="4" ng-model="cc.cvv" type="text" class="form-control input-lg" placeholder="@Messages("credit_card_code")">
			</form>
					   	<form role="form">
					   	<input maxlength="50" required ng-model="cc.lastName" type="text" class="form-control input-lg" placeholder="@Messages("first_name")">
						<input maxlength="50" required ng-model="cc.firstName" type="text" class="form-control input-lg" placeholder="@Messages("last_name")">				                                              
						<input maxlength="50" required ng-model="cc.address1" type="text" class="form-control input-lg" placeholder="@Messages("address")">
						<input maxlength="50" ng-model="cc.address2" type="text" class="form-control input-lg">
						<input maxlength="50" required ng-model="cc.city" type="text" class="form-control input-lg" placeholder="@Messages("city")">
						<input maxlength="50" type="text" contenteditable=true required ng-model="cc.state" name="State" class="form-control input-lg" placeholder="@Messages("select_state_provinces")">
						<select  required ng-model="cc.state" name="State" class="form-control input-lg">
							@views.html.register.accountState()
						</select>
						<input maxlength="10" required ng-model="cc.zip" type="text" class="form-control input-lg" placeholder="@Messages("postal_code")">
						<input maxlength="25" required ng-pattern="validationRegex.digitPhone" ng-model="cc.phone" type="text" class="form-control input-lg" placeholder="@Messages("phone1")">
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>      
        </div>





                		
          	   		


        



	