@* EnablePrompt Template File *@
		<style id="clearly_highlighting_css" type="text/css">
			.ta-editor {
				min-height:300px;
				max-width:300px;
			}
		</style>
		

<div class="panel panel-success">
  <div class="panel-heading">
  <h3>@Messages("voice_prompt")</h3>
</div>

  <div class="panel-body ">

<div class="row">
	<div class="col-md-8">
  		<input ng-show="false" ng-model="isPrompt" type="checkbox">@Html(Messages("voiceprompt_enabled_message"))</input>	
	</div>
</div>

<div ng-show="isPrompt" class="row">
	<div class="col-md-5">
              <select required ng-model="mediaIVRId" class="form-control">
                <option value="0" >@Messages("select_your_prompt")</option>
            	<option ng-repeat="accountMedia in accountMediaListIVR" value={{accountMedia.mediaLocation}}>{{accountMedia.description}}</option>
            </select>
	</div>
</div>

<hr>
  </div>
  </div>
            
            
            
  

