@* NewAdWizard Template File *@
<div ng-init="paymentDialog=false" ng-controller="AdWizardController"  id="newAd-modal-lg" class="modal fade newAd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="NewAdDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-body">
      	<div ng-show="page==1" class="ng-show">@views.html.ad.SelectAdTemplate()</div>
        <div ng-show="page==2" class="ng-show">@views.html.ad.SelectLocation()</div>
        <div ng-show="page==3" class="ng-show">@views.html.ad.UploadMedia()</div>
		<div ng-show="page==4" class="ng-show">@views.html.ad.DesignMedia()</div>
		<div ng-show="page==5" class="ng-show">@views.html.ad.Summary()</div>
		<div ng-show="page==6" class="ng-show">@views.html.ad.ApplyPayment()</div>
		<div ng-show="page==7" class="ng-show">@views.html.ad.PaymentThankYou()</div>
</div>
   	  <div class="modal-footer">
   	  	<button ng-disabled="!isPrevious()" ng-click="previousPage()" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span>@Messages("previous")</button>
   	  	<button ng-disabled="!isNext()" ng-click="nextPage()" type="button" class="btn btn-primary">@Messages("next")<span class="glyphicon glyphicon-chevron-right"></span></button>		
		<button  ng-click="saveOrder()" ng-disabled="!isSubmitable()"  type="submit" class="btn btn-primary">@Messages("Submit")<span class="glyphicon glyphicon-save"></span></button>
		<button type="button" ng-click="closeWizard()" class="btn btn-warning" data-dismiss="modal">@Messages("close")</button>
		</form>        
      </div>      
    </div>
  </div>
</div>

