@* SelectAdTemplate Template File *@

<div class="panel panel-success">
  <div class="panel-heading"><h3>@Messages("select_ad_template")</h3></div>
  <div class="panel-body">
<div>
      <div class="row">
         <div class="col-lg-12">
                  <h3>@Messages("ad_name_description")</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-6">
			<input required ng-model="name" maxlength="50" required type="text" class="form-control" placeholder="@Messages("ad_name")">
         </div>
      </div>
<hr>      
      <div class="row">
         <div class="col-lg-12">
            <form role="form" class="form-inline pull-right">
               <div class="form-group">
                  <input required ng-model="adFilter" required type="text" class="form-control" id="email" placeholder="@Messages("filter_destinations")">
               </div>
            </form>
         </div>
      </div>
<div style="height:500px;overflow:auto;">		
					<table class="table table-hover">
			<tr>
				<th class="col-sm-1">
				   @Messages("select")
				</th>
				<th>
				</th>
				<th class="col-sm-2">
					@Messages("name")
				</th>
				<th class="col-sm-3">
					@Messages("description")
				</th>
 
				<th class="col-sm-2" style="text-align:center;">
					@Messages("impression_bid") 
				</th>

				<th class="col-sm-2" class="text-center">
					$ @Messages("Budget")
				</th>
				<th>
					@Messages("max_impression")
				</th>
				<th>
					@Messages("max_action")
				</th>				
			</tr>

			<tr ng-repeat="adTemplate in adTemplates | filter:adFilter">
				<td ng-click="selectedAd(adTemplate)">
					<span ng-show="isSelectedAd(adTemplate)" class="glyphicon glyphicon-ok"></span>
					<span ng-show="!isSelectedAd(adTemplate)" >..</span>
				</td>			
				<td ng-click="selectedAd(adTemplate)"><img style="weight:50%;" ng-src="{{adTemplate.mediaLocation}}"></td>
				<td ng-click="selectedAd(adTemplate)">{{adTemplate.name}}</td>				
				<td ng-click="selectedAd(adTemplate)">{{adTemplate.description}}</td>

				<td><input class="form-control" min="0.01" max="10" step="0.01" style="border-width:1px;border-style:solid;border-color:#009900;border-radius:5px;text-align:right;" ng-show="isSelectedAd(adTemplate)" ng-model="adTemplate.impression" type="number" /></td>

				<td><input class="form-control" min="15" step="5" style="border-width:1px;border-style:solid;border-color:#009900;border-radius:5px;text-align:right;"ng-show="isSelectedAd(adTemplate)" ng-model="adTemplate.budget" type="number" /></td>				
				<td><div ng-show="isSelectedAd(adTemplate)">{{adTemplate.budget/adTemplate.impression | number:0}}</div></td>
				<td><div ng-show="isSelectedAd(adTemplate)">{{adTemplate.budget/adTemplate.templateUnitPrice | number:0}}</div></td>
			</tr>
			</table>
</div>		
		
    
  </div>
</div>
</div>
