@* SelectLocationDialog Template File *@
<div  class="modal fade"  id="updateIncomingDestinationsDialog"  tabindex="-1" role="dialog" aria-labelledby="updateIncomingDestinationsDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:55%;">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="row">
      		<div class="col-md-12">
      			@views.html.ad.SelectLocation()
      		</div>
      	</div>
        	
		</div>
   	  <div class="modal-footer">
        <button ng-click="submitIncomingChanges()" type="button" class="btn btn-primary">@Messages("Submit")<span class="glyphicon glyphicon-save"></span></button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">@Messages("close")</button>
        
      </div>      
    </div>
  </div>
</div>

