@* pricing Template File *@
<div class="modal fade" id="pricingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" ng-controller="PricingCtrl">
<div class="row">
  <div class="col-xs-6 col-md-4"><img src="@routes.Assets.at("images/dialerlogo6060.png")"/><h4 style="color:#a1a1a1">adKonnect.com</h4></div>
</div>
<div class="row">
		<form class="form-inline pull-right" role="form" >
		    <div class="form-group">
			<input class="form-control" ng-model="adFilter" placeholder="@Messages("filter")" type="text">
			</div>
		</form>
</div>
<div>
		<div style="height:500px;overflow:auto;">
			<table class="table table-hover">
			<tr>
				<th>
						
				</th>
				<th>
					@Messages("name")
				</th>
				<th>
					@Messages("ad_price")
				</th>
			</tr>

			<tr ng-repeat="adTemplate in adTemplates | filter:adFilter">
				<td><img ng-src="{{adTemplate.mediaLocation}}"></td>
				<td>{{adTemplate.name}}</td>				
				<td>{{adTemplate.templateUnitPrice | currency}}</td>
				</div>
				</div>
			</tr>
			</table>
			</div>
	</div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
      </div>
    </div>
  </div>
</div>
