@* register Template File *@
@registermain {
<div ng-controller="LoginCtrl" class="container" >
   <div class="row rowHeader">
	   <div class="col-lg-5">
			<img src="@routes.Assets.at("images/headerinternal.png")"/>
      </div>
   <div class="col-lg-7">
      <ul style="list-style: none;" class="navbar-nav navbar-right">
         <li>
            <h3>&nbsp;<a href="" data-toggle="modal" data-target="#contactModal" style="color:white;">@Messages("Contact")</a>&nbsp;</h3>
         </li>
         <li>
            <h3>&nbsp;<a href="" data-toggle="modal" data-target="#faqModal" style="color:white;">@Messages("faq")</a>&nbsp;</h3>
         </li>
<!--
         <li>
            <h3>&nbsp;<a href="" data-toggle="modal" data-target="#pricingModal" style="color:white;">@Messages("Pricing")</a>&nbsp;</h3>
         </li>
 -->
         <li>
            <h3>&nbsp;<a href="" data-toggle="modal" data-target="#termsDialogModal" style="color:white;">@Messages("terms")</a>&nbsp;</h3>
         </li>
      </ul>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <form role="form" class="form-inline pull-right">
               <div class="form-group">
                  <input required ng-model="login.emailPhone" required type="email" class="form-control" id="email" placeholder="@Messages("email")">
               </div>
               <div class="form-group">
                  <input required ng-model="login.password" required type="password" class="form-control" id="password" placeholder="@Messages("password")">
               </div>
               <div class="form-group">
                  <button ng-disabled="shouldDisabled()" ng-click="callLogin()" class="btn btn-default">@Messages("sign_in")</button>
               </div>
               <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#registerModal">@Messages("register")</button>
               <span>..</span>
            </form>
         </div>
      </div>

      <div class="row">
         <div class="col-lg-12 pull-right">
            <form role="form" class="form-inline pull-right">
               <div class="form-group">
                  <a style="color:white;" href="forgotpassword">@Messages("forget_reset_password")</a>
                  <a style="color:white;" href="resetpassword">@Messages("reset_password")</a>
                  <a style="color:white;" href="forgotpassword">@Messages("confirm_registration")</a>
               </div>
               <span>..</span>
            </form>
         </div>
      </div>
 </div>

   <div class="row rowPageHeader container-fluid" style="background-color:#EEEEE">
<div class="row">
   <div class="col-md-12">
   	<a href=""data-toggle="modal"  data-target="#registerModal"><h1>Introducing The Fastest Way to Advertise!</h1></a>
   </div>
   </div>
   
         
         
<div class="row">
   <div class="col-md-12">          
			adKonnect is a mobile advertising platform that engages smartphone users in a wildly popular activity that has been there all along: talking on the phone! All smartphone users make calls. Adkonnect.com enables sponsors to reach millions of smartphone users making local or international calls. The free phone calls are sponsored by local and international businesses. If you are interested in becoming a sponsor and help people connect across the globe, <a data-toggle="modal" data-target="#registerModal" href="">register</a> today.
			<br><br>
			The smartphone users can install the adKonnect dialer and start using it for free. In addition to making free international and domestic calls, the users will receive exclusive offers from the sponsors on their phones.<sup><a href="#cite_note-1">[1]</a></sup>
</div>
</div>
<hr/>
   <div class="col-md-12">
	<h2><a href="" data-toggle="modal" data-target="#videoDialogModal" >@Messages("How_Does_it_Work")&nbsp;<span style="color:red;" class="glyphicon glyphicon-facetime-video"></span></a></h2>   
   </div>
			
            <img class="center-block" width="70%" src="@routes.Assets.at("images/flow.jpg")"/>
<hr/>

<div class="row">
   <div class="col-md-12">
		40 Million People in the US takes this action every day on the phones: make international calls. </br>Our application connects people with free international calls, sponsored by our clients. These are FULL END2END VOICE calls to any phone: landline and cellphone. NO VoIP. All international calls are local to our users!
<br>
<hr>
 			<div class="row">
 				<div class="col-md-4">
 				<img class="center-block" width="60%" src="@routes.Assets.at("images/PhoneImpressions.jpg")"/>
 				</div>
 				<div class="col-md-8">
 				<img class="center-block" width="80%" src="@routes.Assets.at("images/howitworks.jpg")"/>
 				</div>
 				
 			</div>
 			
 <hr>			

<br>
User downloads the app. Launches the app on their smartphone. Places a call to a number from their personal contact list. Picks a sponsor out of 5 shown on the screen. Full page ad leads the user to his desired call. Primo opportunity. Full page ad at full attention of the user. After a pleasant and much needed call, the sponsor takes a bow, thanks the user, and is saved under user Favorites.
</br></br>
Our sponsors spend $100 for 10,000 impressions or 500 actions on users smartphones. All unique. We don't hit the same people with the same sponsor more than once, ever. We bring much targeted users. Users take actions at their own will. A Silicon Valley Engineer calling his friend in India. And SYS-CON sponsors this action. How positive, and how effective advertising this is! No nuisance, no annoyance to the users. 
<br/><br/>
Nothing is wasted. Our sponsors can start as small or as big as they need and feel comfortable with our no-risk no waste model. You can size up and down as you go along.
<br><br/>
We have immigration lawyers reaching immigrant communities, we have human resources reaching a pool of engineers. A New Jersey contractor reaching a pool of people to hire.
		  
</div>
</div>








<div class="row">
   <div class="col-md-12"> 
   
<h1>@Messages("download_phones")</h1>
<hr/>
</div>
</div>
            <div class="row">
      <div class="col-md-12 pull-left">               
               You need a adKonnect dialer? Use our <a href="" data-toggle="modal" data-target="#downloadModal">@Messages("download_phones")</a> pages or use the links below to go to Application Stores.
            </div>

         <div class="col-md-4 pull-left">
            <img src="@routes.Assets.at("images/phones.jpg")"/>
         </div>                
         <div class="col-md-8 pull-left">
         <a href="https://itunes.apple.com/us/app/sponsoracall-dialer/id893250475?ls=1&mt=8"><img src="https://d2wvvaown1ul17.cloudfront.net/site-static/images/icons/download_from_apple.png"/></a>
         <a href="https://play.google.com/store/apps/details?id=com.dimwire.spcdialer"><img src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"/></a>
         <hr/>
         <div class="row">
            <div class="col-md-3">
               <a href="https://itunes.apple.com/us/app/sponsoracall-dialer/id893250475?ls=1&mt=8"><img width='140' height='204' src="@routes.Assets.at("images/Splash.jpg")"/></a>
            </div>
            <div class="col-md-4">
               <a href="https://itunes.apple.com/us/app/sponsoracall-dialer/id893250475?ls=1&mt=8"><img width='140' height='204' src="@routes.Assets.at("images/PhoneWithBorder.jpg")"/></a>
            </div>            
         </div>
         </div>


      </div>
      


<hr/>
<div class="row">
<div class="col-lg-12">
1. Covers only the calls made in the States. You will be using your airtime minutes on your cell phone. Duration of a call may be restricted by its sponsor.  
						You might be charged from your cellular provider for your airtime according to your plan. Some destinations are excluded due to their very expensive termination costs. There are daily, monthly and destination usage limits to the users.     

</div>
</div>

   </div>
<div class="row rowHeader">
   </div>
</div>

@views.html.register.contact()
@views.html.register.download()
@views.html.register.accountregister()
@views.html.register.pricing()
@views.html.register.termsdialog()
@views.html.register.faq()
@views.html.register.purchaseminutes()
@views.html.register.videodialog()

}