@* accountDialog Template File *@
<div>
        <div class="modal-header  alert-success">
            <h3 class="modal-title">@Messages("Account")</h3>
        </div>
        <div class="modal-body">
        <form name="form" novalidate  role="form">
          <div class="form-group">
			<input class="form-control" required ng-model="data.companyName" placeholder="@Messages("Company.Name")" type="text">
		    <input class="form-control" required ng-model="data.firstName" placeholder="@Messages("First.Name")" type="text">
		    <input class="form-control" ng-model="data.middleName" placeholder="@Messages("Middle.Name")" type="text">
		    <input class="form-control" required ng-model="data.lastName" placeholder="@Messages("Last.Name")" type="text">		    
		    <input class="form-control" required ng-model="data.address1" placeholder="@Messages("Address1")" type="text">
		    <input class="form-control"  ng-model="data.address2" placeholder="@Messages("Address2")" type="text">
		    <input class="form-control" required ng-model="data.city" placeholder="@Messages("City")" type="text">
		    <input class="form-control" required ng-model="data.state" placeholder="@Messages("State")" type="text">
		    <input class="form-control" required ng-model="data.postalCode" placeholder="@Messages("Postal.Code")" type="text">
		    <input class="form-control" required ng-model="data.country" placeholder="@Messages("Country")" type="text">
		    <input class="form-control" required ng-model="data.email" placeholder="@Messages("Email")" type="text">
		    <input class="form-control" required ng-model="data.phone1" placeholder="@Messages("Phone")" type="text">
		    <input class="form-control" ng-model="data.phone2" placeholder="@Messages("Phone2")" type="text">
          </div>
        </form>        	
        </div>
        <div class="modal-footer">
            <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="ok()">@Messages("OK")</button>
            <button class="btn btn-warning" ng-click="cancel()">@Messages("Cancel")</button>
        </div>
</div>
