@* gatewayDialog Template File *@
        <div class="modal-header  alert-success">
            <h3 class="modal-title">@Messages("New.Gateway")</h3>
        </div>
        <div class="modal-body">
        <form name="form" role="form">
          <div class="form-group">
            <input required ng-model="data.gateway.name" class="form-control" placeholder="@Messages("Name")" type="text">
            <input required ng-model="data.gateway.ip" class="form-control" placeholder="@Messages("IP")" type="text">
            <input required ng-model="data.gateway.did" class="form-control" placeholder="@Messages("DID")" type="text">
            <select required ng-options="provider.companyName for provider in data.providers" ng-model="data.gateway.provider" class="form-control"></select>
          </div>
        </form>        	
        </div>
        <div class="modal-footer">
            <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="ok()">@Messages("OK")</button>
            <button class="btn btn-warning" ng-click="cancel()">@Messages("Cancel")</button>
        </div>
