@* AccountTransactionView Template File *@
<div>
<div class="row" style="height:500px;overflow:auto;">	
<div class="col col-md-12">	
			<table class="table table-hover">
			<tr>
				<th>
					@Messages("date")
				</th>
				<th>
					@Messages("order")
				</th>
				<th>
					@Messages("amount")
				</th>
				<th>
					@Messages("transaction_type")
				</th>
			</tr>
			<tr ng-repeat="transaction in accountTransactions">
				<td>
					{{transaction.locatime | date:'mediumDate'}}
				</td>
				<td>
				   {{transaction.orderId}}
				</td>				
				<td>
					{{transaction.amount | currency }}
				</td>
				<td ng-show="transaction.transactionType!='O'">
					{{transaction.transactionType}} 
				</td>
				<td ng-show="transaction.transactionType=='O'">
					<a href="" ng-click="openInvoiceDetailDialog(transaction)"><span class="glyphicon glyphicon-shopping-cart"></span></a> 
				</td>	
			</tr>
			</table>
			</div>
 <ul class="pager">
  <li class="previous"><a ng-click="retrieveOlderTransactions()" href="">&larr; Older</a></li>
</ul>
			
</div>	
</div>
@views.html.ad.InvoiceViewDialog()
@views.html.ad.PrintableInvoiceView()


