@* SelectMedia Template File *@
<div class="panel panel-success">
  <div class="panel-heading">
  <h3>@Messages("design_ad")</h3>
</div>

  <div class="panel-body ">


<div class="row">
<div  class="col-md-3">
</div>
<div  class="col-md-4">
<form name="form" class="form">
				<input required maxlength="50" placeholder='@Messages("header")' ng-model="designData.header" type='text' class="form-control"/>	
   			    <select required ng-model="designData.mediaId" class="form-control">
                <option selected value="0">@Messages("select_logo")</option>
            	<option ng-repeat="accountMedia in accountMediaListMedia" value={{accountMedia.mediaLocation}}>{{accountMedia.description}}</option>
            </select>
			<img class="center-block" style="width:100%" ng-show="designData.mediaId!='0'" ng-src="{{designData.mediaId}}"/>            
  <textarea style="overflow:auto;resize:none" rows="5" cols="20" required placeholder='@Messages("ad_detail")' ng-model="designData.adWords" class="form-control"></textarea>
  <input required maxlength="50" placeholder='@Messages("link_to_your_website")' ng-model="designData.websiteLink" type='text' class="form-control"/>
  <input required maxlength="50" placeholder='@Messages("link_to_your_website_prompt")' ng-model="designData.websiteLinkPrompt" type='text' class="form-control"/>
  <input required maxlength="50" placeholder='@Messages("link_to_your_phone")' ng-model="designData.phoneLink" type='text' class="form-control"/>
  <input required maxlength="50" placeholder='@Messages("link_to_your_phone_prompt")' ng-model="designData.phoneLinkPrompt" type='text' class="form-control"/>
  
   			    <select required ng-model="designData.impressionView" class="form-control">
                <option selected value="0">@Messages("select_impression_view")</option>
            	<option ng-repeat="accountMedia in accountMediaListMedia" value={{accountMedia.mediaLocation}}>{{accountMedia.description}}</option>
            </select>  
  <img class="center-block" style="width:100%" ng-show="designData.impressionView!='0'" ng-src="{{designData.impressionView}}"/>
  </form>
</div>
<div  class="col-md-3">
</div>
      
</div>
      
            
</div>
</div>




            
            
