@* SelectIncomingNumbers Template File *@

<div class="panel panel-success">
  <div class="panel-heading"><h3>@Messages("locations")</h3></div>
  <div class="panel-body">
<div>
<div class="row">
<div class="col col-md-7">
			    <input type="text" ng-model="selectedLocation" placeholder="@Messages("search_locations")" typeahead-min-length=1  typeahead-wait-ms=800 typeahead="location.locationName for location in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control" typeahead-on-select="onLocationSelect($item)" >
    			<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>					

</div>
</div>
		
<div class="row">
<div class="col col-md-10">		
		   <table class="table table-hover table-bordered table-condensed">
			<thead>
			<tr> 
				<th>
				   @Messages("locations")
				</th>
			</tr></thead>
			<tbody>
			<tr ng-repeat="location in selectedLocations">
				<td>{{location.locationName}}
				<span ng-click="deleteSelectedLocation(location)" ng-mouseover="tempVar='delete-ad-destination-mouse-over'" ng-mouseleave="tempVar=''" ng-class="tempVar" class="glyphicon glyphicon-remove"></span>
				</td>
			</tr>	
			</tbody>		
			</table>

</div>
</div>  

</div>
</div>
</div>



