@* Summary Template File *@
<div class="panel panel-success">
  <div class="panel-heading"><h3>@Messages("Summary")</h3></div>
  <div class="panel-body">
        <div class="row">
         <div class="col-lg-12">
				<h3>Your media needs to be approved and normalized</h3> 
         </div>
      </div>
      <div class="row">
         <div class="col-lg-6">
			<h3 style="color:red;">{{name}}</h3>
         </div>
      </div>
<hr>      

<div class="row">
<div class="col col-md-8">		
		   <table class="table table-condensed">
			<thead>
			<tr> 
				<th>
				   @Messages("locations")
				</th>
			</tr></thead>
			<tbody>
			<tr ng-repeat="location in selectedLocations">
				<td>{{location.locationName}}
				</td>
			</tr>	
			</tbody>		
			</table>

</div>
</div>   

<h3>@Messages("Summary")</h3>
			<table class="table table-hover">
			<tr>
				<th>
						
				</th>
				<th>
					@Messages("name")
				</th>
				<th>
					@Messages("impression_bid")
				</th>
				<th class="text-right">
					@Messages("total")
				</th>
			</tr>
			<tr ng-repeat="adTemplate in selectedAds">
				<td><img ng-src="{{adTemplate.mediaLocation}}"></td>
				<td>{{adTemplate.name}}</td>				
				<td>{{adTemplate.impression | currency}}</td>
				<td class="text-right">{{getLineTotal(adTemplate) | currency }}</td>
			</tr>
			<tr ng-repeat="total in totals">
			    <td></td>
				<td></td>
				<td>{{total.feeItemMessageId}}</td>
				<td class="text-right">{{total.total | currency}}</td>
			</tr>
			</table>
</div>
</div>
	