@* UpdateDesignDialog Template File *@
<div  class="modal fade"  id="updateDesignDialog"  tabindex="-1" role="dialog" aria-labelledby="updateDesignDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      	
        <div>@views.html.ad.DesignMedia()</div>
        
</div>
   	  <div class="modal-footer">
		<h3><span class="label label-danger">@Messages("edit_design_approve_description")</span></h3>   	    
        <button ng-click="submitDesignChanges()" type="button" class="btn btn-primary">@Messages("Submit")<span class="glyphicon glyphicon-save"></span></button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">@Messages("close")</button>
        
      </div>      
    </div>
  </div>
</div>

