@* download Template File *@
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
<div class="row">
  <div class="col-xs-6 col-md-4"><img src="@routes.Assets.at("images/dialerlogo6060.png")"/><h4 style="color:#a1a1a1">adKonnect.com</h4></div>
</div>
<hr>
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-9" ng-show="othersClicked"><a ng-click="othersClicked=!othersClicked" href="">@Messages("others_phone_download_caption")
    
    </a></div>
  <div class="col-md-3" ng-show="!othersClicked"><a href="https://play.google.com/store/apps/details?id=com.dimwire.spcdialer"><img src="@routes.Assets.at("images/phoneimages/android.jpg")"/>......Android</a></div>
  <div class="col-md-3" ng-show="!othersClicked"><a href="https://itunes.apple.com/us/app/sponsoracall-dialer/id893250475?ls=1&mt=8"><img src="@routes.Assets.at("images/phoneimages/iphone-4s.jpg")"/>....iPhone</a></div>
  <div class="col-md-3" ng-show="!othersClicked"><a ng-click="othersClicked=!othersClicked" href=""><img src="@routes.Assets.at("images/phoneimages/windows.png")"/>......@Messages("others")</a></div>  
    
 
    
  <div class="col-md-1"></div>
</div>
      </div>
      <div class="modal-footer">
		<button ng-click="othersClicked=!othersClicked" ng-show="othersClicked" type="button" class="btn btn-default" >       
		<span class="glyphicon glyphicon-Hone"></span> @Messages("back")</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
        
      </div>
    </div>
  </div>
</div>
