<!DOCTYPE html>
<html style="width:750px;height:550px;" ng-app="jeobooApp">
<head>
  <title>Popup</title>
  <script src="/libs/jquery.min.js"></script>
  <script src="/libs/angular.min.js" type="text/javascript"></script>
  <script src="/libs/angular-resource.min.js" type="text/javascript"></script>
  <script src="/libs/angular-route.min.js" type="text/javascript"></script>
  <script src='/libs/angular-sanitize.min.js'></script>
  <script src='/libs/angular-animate.min.js'></script>
  <script src="/libs/ui-bootstrap-tpls.js" type="text/javascript"></script>
  <script src="/libs/bootstrap.min.js"></script>
  <script src="/libs/popup.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/custom.css" rel="stylesheet" media="screen">  
</head>
<body>
  <div style="width:750px;height:550px;" ng-controller="JeobooController" class="container">
    <div class="row">
      <div class="column col-md-10">
        <h3 style="padding: .2em;">Jeoboo Anonymous Blog!</h3>
      </div>
    </div>
    <div style="height:80%;overflow:auto">
      <table class="table table-condensed table-hover table-bordered table-striped">
        <tr ng-repeat="messageItem in messageItems">
        <td>
          <table>
            <tr ng-show="messageItem.showDate">
              <td colspan="2"><div ng-show="messageItem.showDate">{{messageItem.date}}</div></td>
            </tr>
            <tr>
              <td style="width:25%">{{messageItem.time}}</td>
              <td>{{messageItem.message}}</td>
            </tr>
          </table>
          </td>
        </tr>
      </table> 
    </div>   

    <div class="row">
     <div class="col-md-12">
      <div style="height:80%" class="input-group input-group-md">
        <input ng-model="message" type="text" class="form-control input-md" >
        <span class="input-group-btn">
          <button ng-disabled="!message" ng-click="addMessage()" class="btn btn-default btn-md" type="submit">Send</button>
        </span>
      </div>
    </div>
  </div>

</div>
</div>
</body>
</html>
