@* dashboardold Template File *@
<div class="row">
  <div class="col-md-1"> @Messages("Start.Date")</div>
  <div class="col-md-2"><input class="form-control" type="text" id="startDate" ng-model="startDate"></div>
  <div class="col-md-1">@Messages("Countries")</div>
  <div class="col-md-3"><select ng-options="country.name for country in countries" ng-model="selectedCountry" ng-change="countryChanged()" class="form-control"></select></div>
  <div class="col-md-5"></div>
</div>
<div class="row">
  <div class="col-md-1"> @Messages("End.Date")</div>
  <div class="col-md-2"><input class="form-control" type="text" id="endDate" ng-model="endDate"></div>
  <div class="col-md-1">@Messages("Destinations")</div>
  <div class="col-md-3"><select ng-options="destination.name for destination in destinations" ng-model="selectedDestination" class="form-control"></select></div>
  <div class="col-md-1">@Messages("Providers")</div>
  <div class="col-md-2"><select ng-options="provider.companyName for provider in providers" ng-model="selectedProvider" class="form-control"></select></div>
  <div class="col-md-2">
 <div class="btn-group">
  <button ng-click="retrieveCDRSummary('date')" type="button" class="btn btn-success">@Messages("Date")</button>
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a ng-click="retrieveCDRSummary('country')">@Messages("Country")</a></li>
    <li><a ng-click="retrieveCDRSummary('destination')">@Messages("Destination")</a></li>
    <li class="divider"></li>
    <li><a ng-click="retrieveCDRSummary('indestination')">@Messages("Incoming Destination")</a></li>
  </ul>
</div> 
  
  
  </div>
</div>
<br>
<div class="row" style="height:500px;overflow:auto;">
<div class="col col-md-12">	
			<table style='border:2px solid green;' class="table table-hover table-striped">
			<tr>
				<th align="center"> @Messages("Call.Date") </th>
				<th align="center"> @Messages("Hit") </th>
				<th align="center"> @Messages("Calls") </th>
				<th align="center"> @Messages("Completed") </th>
				<th align="center"> @Messages("Actual.Duration") </th>
				<th align="center"> @Messages("Billed.Duration") </th>
				<th align="center"> @Messages("Buy") </th>
				<th align="center"> @Messages("Sell") </th>
			</tr>
			<tr ng-repeat="row in summaryData track by $index">
				<td align="center"> {{row.calldatehour | date:'MMM d, y h:mm:ss a'}} </td>
				<td align="right"> {{row.hit | number}} </td>
				<td align="right"> {{row.calls | number}} </td>
				<td align="right"> {{row.ccalls | number}} </td>
				<td align="right"> {{row.duration | number}} </td>
				<td align="right"> {{row.maxDuration | number}} </td>
				<td align="right"> {{row.providerTotal }} </td>
				<td align="right"> {{row.adTotal | currency}} </td>
			</tr>
			<tr>
				<td align="center">@Messages("Total")</td>
				<td align="right"> {{hitCount | number}} </td>
				<td align="right"> {{callCount | number}} </td>
				<td align="right"> {{completedCallCount | number}} </td>
				<td align="right"> {{actualDurationTotal | number}} </td>
				<td align="right"> {{billedDurationTotal }} </td>
				<td align="right"> {{buyTotal }} </td>
				<td align="right"> {{sellTotal | currency}} </td>
			</tr>
			
			</table>
			</div>
			
</div>   