@* callsummarygraph Template File *@
<style>
chart {
	top:10px;
    display: block;
    width:500px;
    height:400px;
}
</style>
<h4>@Messages("cdr_summary_graph_title")</h4>
<div>
	<chart ng-model='data'></chart>        
</div>
