@* callsummarytable Template File *@
<div>
<small>
<table class="table table-hover table-striped table-bordered table-condensed">
<tr>
	<th class="text-center">
		@Messages("cdr_summary_hour")
	</th>
	<th class="text-right">
		@Messages("cdr_summary_calls")
	</th>
	<th class="text-right">
		@Messages("cdr_summary_completed_calls")	
	</th>
	<th class="text-right">
		@Messages("cdr_summary_completion")	
	</th>		
	<th class="text-right">
		@Messages("cdr_summary_duration")	
	</th>		
	<th class="text-right">
		@Messages("cdr_summary_total")	
	</th>		
</tr>

<tr ng-repeat="row in cdrSummary">
	<td class="text-center">
		{{row.hour}} 
	</td>
	<td class="text-right">
		{{row.calls | number}} 
	</td>
	<td class="text-right"> 
		{{row.ccalls | number}} 
	</td>
	<td class="text-right">
		{{(row.ccalls/row.calls)*100 | number:2}} 
	</td>
	<td class="text-right">
		{{row.duration | number:1}} 
	</td>
	<td class="text-right">
		{{row.total | currency}} 
	</td>
</tr>
<tr>
	<td class="text-center">
		@Messages("total") 
	</td>
	<td class="text-right">
		{{tcalls | number}} 
	</td>
	<td class="text-right">
		{{tccalls | number}} 
	</td>
	<td class="text-right">
		{{(tccalls/tcalls)*100 | number:2}} 
	</td>
	<td class="text-right">
		{{tduration | number:1}} 
	</td>
	<td class="text-right">
		{{ttotal | currency}} 
	</td>
</tr>

</table>
</small>