@* cdrfilterP Template File *@
<table class="table">
<tr>
<td>@Messages("cdr_filter_from")</td>
<td>
<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtFrom" show-button-bar="false" show-weeks="false" />
</td>
<td>@Messages("country")</td>
<td><select class="form-control" ng_model="selectedCountry" ><option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option></select></td>
<td>@Messages("provider")</td>
<td><select class="form-control" ng_model="selectedProvider" ><option ng-repeat="account in accounts" value="{{account.id}}">{{account.companyName}}</option></select></td>
</tr>

<tr>
<td>@Messages("cdr_filter_to")</td>
<td>
<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtTo" show-button-bar="false" show-weeks="false" />
</td>
<td>@Messages("destination")</td>
<td><select class="form-control" ng-model="selectedDestination"><option ng-repeat="destination in destinations" value="{{destination.id}}">{{destination.name}}</option></select></td>
<td>@Messages("active_ads")</td>
<td><select class="form-control" ng_model="selectedAd" ><option ng-repeat="ad in ads" value="{{ad.id}}">{{ad.name}}</option></select></td>
</tr>
</table>
