@* uploadMediaDialog Template File *@
        <div class="modal-header  alert-success">
            <h3 class="modal-title">@Messages("Upload.Media")</h3>
        </div>
        <div class="modal-body">
<div class="row">
<div class="col col-md-12">  
		<div id="postAnim_design1">
    			<img src="assets/images/loader.gif" class="ajax-loader"/>
			</div>
		<iframe ng-show="isPosting" onload="$('#postAnim_design1').hide()" frameborder="0" name="status_frame_design1"></iframe>
		<form enctype="multipart/form-data" method="post" name="form" role="form" novalidate class="css-form" action="accountMedia" target="status_frame_design1">
		<div class="form-group">
		    <input hidden type="text" value="" name="mediaId">
			<input size="100" type="text" class="form-control" placeholder="@Messages("description")" name="mediaDescription">
			<input id="mediaFile" class="form-control" type="file" name="media">
		</div>
        <div class="modal-footer">
            <button  ng-click="posting()" type="submit" class="btn btn-primary">@Messages("Upload")</button>
			<button class="btn btn-warning" ng-click="cancel()">@Messages("Close")</button>
        </div>
        
<script type="text/javascript">
        $('#mediaFile').bind('change', function() {
            if(this.files[0].size>10000 && $('#mediaType').val()=='picture') {
            	alert(' @Messages("image_too_big")');    
            }    
        });
        
    </script>
	</form>
	</div>
</div>
</div>