@* accounts Template File *@
<div>
<div class="row">
<div class="col col-md-12">	
		<div class="form-inline pull-right" role="form" >
		    <div class="form-group">
			<input class="form-control" ng-model="searchAccountEmail" placeholder="@Messages("Email")" type="text">
			</div>
			<div class="form-group">
			<button type="button" ng-click="searchAccount(searchAccountEmail)" class="btn btn-primary">
  				@Messages("Search.Account")...<span class="glyphicon glyphicon-search"></span>
			</button>			
			</div>		
		</div>
</div>
</div>

<div class="row" style="height:500px;overflow:auto;">	
<div class="col col-md-12">	
			<table class="table table-hover">
			<tr>
				<th>
					@Messages("Approved")
				</th>
				<th>
					@Messages("Send.Email")
				</th>				
				<th>
					@Messages("Enabled")
				</th>
				<th>
					@Messages("Date")
				</th>
				<th>
					@Messages("Ad.No")
				</th>
				<th>
					@Messages("Name")
				</th>
				<th>
					@Messages("Budget")
				</th>
				<th>
					@Messages("Design")
				</th>			
			</tr>
			<tr ng-repeat="ad in ads | filter:adFilter">
				<td>
				    <a href="" ng-click="toggleApprove(ad)"><span class="glyphicon glyphicon-eye-open" ng-show="ad.approved">@Messages("approved")</span></a>
				    <a href="" ng-click="toggleApprove(ad)"><span class="glyphicon glyphicon-eye-close" ng-show="!ad.approved">@Messages("pending")</span></a>
				</td>
				<td><a href="" ng-click="sendApprovedEmail(ad)">@Messages("Approved")</a>..<a href="" ng-click="sendDeniedEmail(ad)">@Messages("Denied")</a></td>
				<td>
				<div ng-show="ad.approved">
				    <a data-toggle="modal" data-target="#actionDialogModal" href="" ng-click="toogleAd(ad)"><span class="glyphicon glyphicon-ok" ng-show="ad.active"></span></a>
				    <a data-toggle="modal" data-target="#actionDialogModal" href="" ng-click="toogleAd(ad)"><span class="glyphicon glyphicon-remove" ng-show="!ad.active"></span></a>
				</div>
				
				<div ng-show="!ad.approved">
					<span class="glyphicon glyphicon-eye-close" ng-show="ad.approved=='0'">@Messages("pending")</span
				</div>
				
				</td>
				<td>
					{{ad.locatime | date:'short'}}
				</td>
				<td>
				   {{ad.adId}}
				</td>				
				<td>
				   {{ad.name}}
				</td>
				<td>
					{{ad.budget | currency }}
				</td>
				<td>
				  <a ng-click="editDesign(ad)" href="">@Messages("edit")</a>
				</td>
			</tr>
			</table>
			</div>
 <ul class="pager">
  <li class="previous"><a ng-click="retrieveOlder()" href="">&larr; Older</a></li>
</ul>
			
</div>
</div>

