@* forgotpassword Template File *@
@views.html.register.registermain {
<div ng-controller="AccountPasswordActionCtrl" class="container-fluid"  style="width:40%;padding-top: 5%;">
<div class="panel panel-warning">
<img src="@routes.Assets.at("images/headerinternal.png")"/>
<div class="panel-heading">
     <h4>{{errorMessage}}</h4>
  </div>
  <div class="panel-body">

<form name="form" class="form" role="form" novalidate>
  <div class="form-group ">
    <input ng-model="passwordaction.email" required type="email" class="form-control" placeholder="@Messages("email")">
  </div>
  
  <div class="form-group">
	@views.html.register.recaptcha()  
    <button ng-disabled="form.$invalid" type="button" ng-click="accountpasswordaction(0)" class="btn btn-warning">@Messages("request.a.new.password")</button>
    <button ng-disabled="form.$invalid" type="button" ng-click="accountpasswordaction(1)" class="btn btn-warning">@Messages("resend.confirmation")</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/'">@Messages("Back")</button>
  </div>
</form>
  </div>
</div>
</div>
}
