@* resetPassword Template File *@
@views.html.register.registermain {
<div ng-controller="ResetPasswordCtrl" class="container-fluid" style="width:40%;padding-top: 5%;">
<div class="panel panel-warning">
<img src="@routes.Assets.at("images/headerinternal.png")"/>
<div class="panel-heading">
	@Messages("thank.you.please.check.your.email")
     <h4>{{errorMessage}}</h4>
  </div>
  <div class="panel-body">

<form name="form" class="form" role="form" novalidate>
  <div class="form-group ">
    <input ng-model="passwordaction.email" required type="email" class="form-control" placeholder="@Messages("email")">
    <input ng-model="passwordaction.tempPassword" required type="password" class="form-control" placeholder="@Messages("temporary_password")">
    			<div style="background-color: #FA787E;">@Messages("password_validation")</div>
    <input ng-pattern="validationRegex.password" ng-maxlength="20" ng-model="passwordaction.newPassword" required type="password" class="form-control" placeholder="@Messages("new_password")">
  </div>
  
  <div class="form-group">
    @views.html.register.recaptcha()  
    <button ng-disabled="form.$invalid" type="button" ng-click="accountpasswordaction()" class="btn btn-warning">@Messages("reset_password")</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/'">@Messages("Back")</button>
  </div>
</form>
  </div>
</div>
</div>
}
