@* dashboard Template File *@
<div class="row">
  <div class="col-md-1"> @Messages("Start.Date")</div>
  <div class="col-md-2"><input class="form-control" type="text" id="startDate" ng-model="startDate"></div>
  <div class="col-md-1">@Messages("Countries")</div>
  <div class="col-md-3"><select ng-options="country.name for country in countries" ng-model="selectedCountry" ng-change="countryChanged()" class="form-control"></select></div>
  <div class="col-md-5"></div>
</div>
<div class="row">
  <div class="col-md-1"> @Messages("End.Date")</div>
  <div class="col-md-2"><input class="form-control" type="text" id="endDate" ng-model="endDate"></div>
  <div class="col-md-1">@Messages("Destinations")</div>
  <div class="col-md-3"><select ng-options="destination.name for destination in destinations" ng-model="selectedDestination" class="form-control"></select></div>
  <div class="col-md-1">@Messages("Providers")</div>
  <div class="col-md-2"><select ng-options="provider.companyName for provider in providers" ng-model="selectedProvider" class="form-control"></select></div>
  <div class="col-md-2">
 <div class="btn-group">
  <button ng-click="retrieveCDRSummary('date')" type="button" class="btn btn-success">@Messages("Date")</button>
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a ng-click="retrieveCDRSummary('country')">@Messages("Country")</a></li>
    <li><a ng-click="retrieveCDRSummary('destination')">@Messages("Destination")</a></li>
    <li class="divider"></li>
    <li><a ng-click="retrieveCDRSummary('indestination')">@Messages("Incoming Destination")</a></li>
  </ul>
</div> 
  
  
  </div>
</div>
<div class="row" style="height:500px;overflow:auto;">	
<div class="col col-md-12">	
			<table class="table table-hover table-condensed table-striped">
			<tr>
				<th ng-repeat="col in metaData">
					{{col}}
				</th>
			</tr>
			<tr ng-repeat="row in values track by $index">
				<td ng-repeat="value in row track by $index">
					{{value}}
				</td>
			</tr>
			</table>
			</div>
			
</div>   