@* deleteConfirmationDialog Template File *@
        <div class="modal-header alert-danger">
            <h3 class="modal-title">@Messages("Delete")</h3>
        </div>
        <div class="modal-body">
        	@Messages("Do.you.wish.to.delete.this.item.?")
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">@Messages("OK")</button>
            <button class="btn btn-warning" ng-click="cancel()">@Messages("Cancel")</button>
        </div>
