@* gateway Template File *@
<div class="row">
  <div class="col-md-12">
    <tabset >
      <tab heading="@Messages("Sponsoracall.Gateway")">
      <div class="row">
        <div class="col-md-9">
          <Button  class="btn btn-md btn-success pull-left" ng-click="createGateway()">@Messages("Add.Gateway")</Button>
        </div>
        <div class="col-md-3">
          <input type="text"  class="form-control pull-right" ng-model="gatewayFilter" placeholder="@Messages("Filter")">
        </div>        
      </div>
      <div class="row" style="height:500px;overflow:auto;">
        <div class="col-md-12">
			<table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
              <th>
                @Messages("Active")
              </th>
              <th>
                @Messages("Gateway.Name")
              </th>
              <th>
                @Messages("IP")
              </th>
              <th>
                @Messages("DID")
              </th>
              <th>
                @Messages("Provider")
              </th>
              <th>
                @Messages("Gateway.Hit.Count")
              </th>
              <th>
                @Messages("Delete")
              </th>
            </tr>
            <tr ng-repeat="gateway in gateways | filter:gatewayFilter">
              <td>
                <a href="" ng-click="toogleGateway(gateway)">
                <span class="glyphicon glyphicon-ok" ng-show="gateway.active"></span>
                <span class="glyphicon glyphicon-remove" ng-show="!gateway.active"></span>
                </a>
              </td>
              <td>
              	<a href="" ng-click="updateGateway(gateway)">{{gateway.name}}</a>
              </td>
              <td>
              	{{gateway.ip}}
              </td>
              <td>
              <a href="" ng-click="addDID(gateway)"<span class="glyphicon glyphicon-plus"></span>@Messages("Add")</a>....{{gateway.did}}
              </td>
              <td>
              	{{gateway.providerName}}
              </td>
              <td>
                  <a  ng-click="resetHitCount(gateway)" href="">@Messages("Reset..")</a><span class="badge">{{gateway.hitcount | number}}</span>
              </td>
              <td>
                <span ng-click="deleteGateway(gateway)" ng-mouseover="tempVar='delete-ad-destination-mouse-over'" ng-mouseleave="tempVar=''" ng-class="tempVar" class="glyphicon glyphicon-remove"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      </tab>
      <tab ng-click="providersClicked()" heading="@Messages("Providers")">
      <div class="row">
        <div class="col-md-12">
          <Button class="btn btn-md btn-success pull-left" ng-click="addProvider()">@Messages("Add.New.Provider")</Button>
        </div>
      </div>
		<table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
          <th>
            @Messages("Active")
          </th>
          <th>
            @Messages("Company.Name")
          </th>
          <th>
            @Messages("First.Last.Name")
          </th>
          <th>
            @Messages("Phone")
          </th>
          <th>
            @Messages("Email")
          </th>          
          <th>
            @Messages("Delete")
          </th>          
        </tr>
        <tr ng-repeat="provider in allproviders">
          <td>
            <a href=""><span ng-click="toogleProvider(provider)" class="glyphicon glyphicon-ok" ng-show="provider.active"></span></a>
            <a href=""><span ng-click="toogleProvider(provider)" class="glyphicon glyphicon-remove" ng-show="!provider.active"></span></a>
          </td>
          <td>
            <a href="" ng-click="updateProvider(provider)">{{provider.companyName}}</a> 
          </td>
          <td>
            {{provider.contactName}} 
          </td>
          <td>
            {{provider.phone1}} 
          </td>
          <td>
            {{provider.email}} 
          </td>
          <td>
            <span ng-click="deleteProvider(provider)" ng-mouseover="tempVar='delete-ad-destination-mouse-over'" ng-mouseleave="tempVar=''" ng-class="tempVar" class="glyphicon glyphicon-remove"></span>
          </td>
        </tr>
      </table>
      </tab>      
      <tab ng-click="providerGatewayClicked()" heading="@Messages("Provider.Gateway")">
      <div class="row">
        <div class="col-md-12">
          <Button class="btn btn-md btn-success pull-left" ng-click="createProviderGateway()">@Messages("Add.New.Provider.Gateway")</Button>
        </div>
      </div>
	 <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
          <th>
            @Messages("Active")
          </th>
          <th>
            @Messages("IP")
          </th>
          <th>
            @Messages("Gateway.Prefix")
          </th>
          <th>
            @Messages("Gateway.Username")
          </th>
          <th>
            @Messages("Delete")
          </th>
        </tr>
        <tr ng-repeat="providergateway in providergateways">
          <td>
            <a href=""><span ng-click="toogleProviderGateway(providergateway)" class="glyphicon glyphicon-ok" ng-show="providergateway.active"></span></a>
            <a href=""><span ng-click="toogleProviderGateway(providergateway)" class="glyphicon glyphicon-remove" ng-show="!providergateway.active"></span></a>
          </td>
          <td>
            <a href="" ng-click="updateProviderGateway(providergateway)">{{providergateway.endpointip}}</a> 
          </td>
          <td>
            {{providergateway.prefix}} 
          </td>
          <td>
            {{providergateway.username}} 
          </td>
          <td>
            <span ng-click="deleteProviderGateway(providergateway)" ng-mouseover="tempVar='delete-ad-destination-mouse-over'" ng-mouseleave="tempVar=''" ng-class="tempVar" class="glyphicon glyphicon-remove"></span>
          </td>
        </tr>
      </table>
      </tab>
    </tabset>
  </div>
</div>
</div>