@* providerGatewayDialog Template File *@
        <div class="modal-header  alert-success">
            <h3 class="modal-title">@Messages("New.Gateway")</h3>
        </div>
        <div class="modal-body">
        <form novalidate name="form" role="form">
          <div class="form-group">
     		<select required ng-options="provider.companyName for provider in providers" ng-model="data.provider" class="form-control"></select>          
            <input required ng-model="data.endpointip" class="form-control" placeholder="@Messages("IP")" type="text">
			<input  ng-model="data.prefix" class="form-control" placeholder="@Messages("Prefix")" type="text">            
            <input ng-model="data.username" class="form-control" placeholder="@Messages("User.Name")" type="text">
            <input ng-model="data.password" class="form-control" placeholder="@Messages("Password")" type="password">
          </div>
        </form>        	
        </div>
        <div class="modal-footer">
            <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
