@* accountDetail Template File *@
<h2><a href="" data-backdrop="static" data-toggle="modal" data-target="#updateAccountModal" >{{account.companyName}}</a></h2>
<tabset ng-controller="AccountAdCtrl">
    <tab heading="@Messages("tab_ads")">@views.html.ad.AccountAdsView()</tab>
    <tab select="transactionsTabSelect()" heading="@Messages("tab_transactions")">@views.html.ad.AccountTransactionView()</tab>
    <tab ng-controller="AccountMediaCtrl" select="mediaTabSelect()" heading="@Messages("tab_media")">@views.html.account.accountMedia()</tab>
</tabset>    
@views.html.account.accountupdate()