@* changepasswordtemplate Template File *@
	<form name="formPassword" role="form" novalidate class="css-form">
		<div class="alert alert-success alert-dismissable">
			<span>@Messages("change.password")</span>
		</div>	
		<div ng-show="errorMessagePassword!=''" class="alert alert-danger alert-dismissable">
			<button type="button" class="close" ng-click="alert=false" aria-hidden="true"></button>
			<strong>{{errorMessagePassword}}</strong> {{error}}
		</div>
		<div class="form-group">
			<input required ng-model="passwordContract.oldPassword" type="password" class="form-control" placeholder="@Messages("old.password")">
			<input required ng-model="passwordContract.newPassword" type="password" class="form-control" placeholder="@Messages("new.password")">
		</div>
        <div class="modal-footer">
            <button ng-disabled="formPassword.$invalid" class="btn btn-primary" ng-click="changePassword()">@Messages("save")</button>
            <button class="btn btn-warning" ng-click="cancel()">@Messages("cancel")</button>
        </div>		
	</form>
