@* UploadMediaDialog Template File *@
<div  class="modal fade" data-backdrop="static" tabindex="-1" id="uploadMediaDialog" role="dialog" aria-labelledby="NewAdDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:40%;">
    <div class="modal-content">
      <div class="modal-body">
<div class="panel panel-success">
  <div class="panel-heading"><h3>@Messages("media_upload")</h3>
  </div>
  <div class="panel-body">
  
		<div id="postAnim_design1">
    			<img src="assets/images/loader.gif" class="ajax-loader"/>
			</div>

	<iframe ng-show="isPosting" onload="$('#postAnim_design1').hide()" frameborder="0" name="status_frame_design1"></iframe>
	<div class="row">
	<div class="col col-lg-12">
		<form enctype="multipart/form-data" method="post" name="form" role="form" novalidate class="css-form" action="accountMedia" target="status_frame_design1">
		<div class="form-group">
		    <input hidden type="text" value="{{ACCOUNT_ID}}" name="accountId">
		    <input hidden type="text" value="" name="mediaId">
			<select   id="mediaType" class="form-control" name="mediaType">
			    <option selected value="picture">@Messages("media_type_picture")</option>
				<option value="prompt">@Messages("media_type_prompt")</option>
				<option value="video">@Messages("media_type_video")</option>
			</select>		    
			<input maxlength="50"  type="text" class="form-control" placeholder="@Messages("description")" name="mediaDescription">
			<input id="mediaFile" class="form-control" type="file" name="media">
		</div>
        <div class="modal-footer">
            <button  ng-click="posting()" type="submit" class="btn btn-primary">@Messages("Upload")</button>
            <button  ng-click="refreshAccountMedia()" type="reset" class="btn btn-warning" data-dismiss="modal">@Messages("close")</button>
        </div>
        
<script type="text/javascript">
        $('#mediaFile').bind('change', function() {
            if(this.files[0].size>200000 && $('#mediaType').val()=='picture') {
            	alert(' @Messages("image_too_big")');    
            }    
        });
        
    </script>

        
        
	</form>
	</div>
	
	</div>
	
  </div>

</div>
</div>
    </div>
  </div>
</div>