	@* AccountAdsView Template File *@
<style>
.adCompletedStripe {
   background-color:LemonChiffon;
}
.adCompleted {
   color:red;
}
#noAdHeader {
    color: transparent;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
}
</style>
<div>
<div class="row">
<div class="col col-md-12">	
		<div class="form-inline pull-right" role="form" >
		    <div class="form-group">
			<input ng-show="accountAds.length>0" class="form-control" ng-model="adFilter" placeholder="Filter" type="text">
			</div>		
			<div class="form-group">
			<button type="button"   class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target=".newAd-modal-lg">
  				@Messages("new_order")...<span  class="glyphicon glyphicon-star-empty"></span>
			</button>			
			</div>		
		</div>
</div>
</div>

<div class="row" style="height:500px;overflow:auto;">	
<div class="col col-md-12">	
<h3 class="center-block" id="noAdHeader" ng-show="accountAds.length==0">@Messages("no.ad.header")</h3>
			<table ng-show="accountAds.length>0" class="table table-hover">
			<tr>
				<th>
					@Messages("approved")
				</th>
				<th>
					@Messages("enabled")
				</th>
				<th>
					@Messages("no")
				</th>
				<th>
					@Messages("destination")
				</th>				
				<th>
					@Messages("name")
				</th>

				<th>
					@Messages("impression")
				</th>
				<th>
					@Messages("budget")
				</th>
				<th>
					@Messages("balance")
				</th>
				<th>
					@Messages("locations")
				</th>
				<th>
					@Messages("design")
				</th>				
			</tr>
			
			<tr ng-repeat="ad in accountAds | filter:adFilter"  ng-class="{adCompletedStripe:(ad.balance>=ad.budget)}" >
				<td>
			    	<span class="glyphicon glyphicon-ok" ng-show="ad.approved"></span>
			    	<span class="glyphicon glyphicon-remove" ng-show="!ad.approved"></span
				</td>
				<td>
				<div ng-show="ad.approved">
				    <a data-toggle="modal" data-target="#actionDialogModal" href="" ng-click="toogleAd(ad)"><span class="glyphicon glyphicon-ok" ng-show="ad.active"></span><span class="glyphicon glyphicon-remove" ng-show="!ad.active"></span></a>
				</div>
				
				<div ng-show="!ad.approved">
					<span class="glyphicon glyphicon-eye-close" ng-show="ad.approved=='0'">@Messages("pending")</span
				</div>
				
				</td>
			    <td>
			    	{{ad.adId}}
			    </td>
			    <td>
			    	{{ad.templateName}}
			    </td>				
			    				
				<td>
					<a ng-click="openNameDialog(ad)" href="" data-toggle="tooltip" data-placement="top" title="{{ad.templateName}} {{ad.localtime | date:'mediumDate'}} ">{{ad.name}}</a>
				  
				</td>
 
				<td>
					<a ng-click="openImpressionDialog(ad)" href="">{{ad.impression | currency }}</a>
				</td>

				<td align="right">
					<a ng-click="openApplyPaymentDialog(ad)" href="" data-toggle="tooltip" data-placement="top" title="@Messages("add_fund")">{{ ad.budget | currency }}</a>				
				</td>
				 
				<td align="right">
					<a ng-click="openApplyPaymentDialog(ad)" href="" data-toggle="tooltip" data-placement="top" title="@Messages("add_fund")">{{ ad.balance | currency }}</a>
				</td>
				
				<td>
					<a href="" ng-click="openIncomingDestinationsDialog(ad)">
					<span class="badge">{{ad.selectedLocations.length}}...</span>
					</a>					
				</td>
				<td>
				  <a ng-click="openUpdateDesignDialog(ad)" href="">@Messages("edit")</a>
				</td>
			</tr>
			</table>
			</div>
 <ul ng-show="accountAds.length>0" class="pager">
  <li class="previous"><a ng-click="retrieveOlder()" href="">&larr; Older</a></li>
</ul>
			
</div>	

@views.html.ad.NewAdWizard()
@views.html.ad.SelectLocationDialog()
@views.html.ad.UpdateDesignDialog()
@views.html.ad.UpdateAdImpressionDialog()
@views.html.ad.UpdateAdNameDialog()
@views.html.ad.ApplyPaymentDialog()
@views.html.actionDialog(Messages("toggle_ad"))
</div>

