@* InvoiceViewDialog Template File *@
<div  class="modal fade"  id="invoiceDialog"  tabindex="-1" role="dialog" aria-labelledby="updateDesignDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:"50%;">
    <div class="modal-content">
      <div class="modal-body">
        <div class="ng-show">@views.html.ad.InvoiceViewTemplate()</div>
   	  <div class="modal-footer">
        <button type="button" ng-click="printInvoice()" class="btn btn-success" data-dismiss="modal">@Messages("Printable Version")</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">@Messages("close")</button>
      </div>      
    </div>
  </div>
</div>
</div>

