@* InvoiceViewTemplate Template File *@
	<div class="row clearfix">
		<div class="col-md-6 column">
			<h3>
				{{selectedTransaction.accountDetail.companyName}}
			</h3> <address>{{selectedTransaction.accountDetail.address1}}
							{{selectedTransaction.accountDetail.address2}} 
			<br/> {{selectedTransaction.accountDetail.city}}, {{selectedTransaction.accountDetail.state}} {{selectedTransaction.accountDetail.postalCode}}<br /> <abbr title="Phone">P:</abbr> {{selectedTransaction.accountDetail.phone1}}</address>
		</div>
		<div class="col-md-6 column ">
			 <span class="label label-default pull-right">Order Number:{{selectedTransaction.orderId}}</span> <br/>
			 <span class="label label-default pull-right">Date: {{selectedTransaction.locatime | date:'mediumDate'}} </span>
			 
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<th>
							@Messages("name")
						</th>
						<th class="text-right">
							@Messages("total")
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="lineItem in selectedTransaction.lineItems">
						<td>
							{{lineItem.name}}
						</td>
						<td class="text-right">
							{{lineItem.budget | currency}}
						</td>
					</tr>
			<tr ng-repeat="total in selectedTransaction.totalItems">
				<td class="text-right">{{total.feeItemMessageId}}</td>
				<td class="text-right">{{total.total | currency}}</td>
			</tr>					
				</tbody>
			</table>
		</div>
	</div>
