@* UpdateAdImpressionDialog Template File *@
<div  class="modal fade"  id="updateNameDialog"  tabindex="-1" role="dialog" aria-labelledby="updateNameDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      
<div class="panel panel-success">
  <div class="panel-heading">
  	<h4>@Messages("update_name")</h4>
</div>
<br>
<br>
      <div class="row">
         <div class="col-lg-12">
                  <h3>@Messages("ad_name_description")</h3>
         </div>
         
      </div>
      <div class="row">
      <div class="col-lg-2">
      </div>
         <div class="col-lg-6">
			<input maxlength="50" required ng-model="updateName" required type="text" class="form-control" placeholder="@Messages("ad_name")">
         </div>
         
      </div>
<br>
<br>      	      	
</div>      
      
</div>
   	  <div class="modal-footer">
        <button ng-show="updateName" ng-click="updateAdName()" type="button" class="btn btn-primary">@Messages("Submit")<span class="glyphicon glyphicon-save"></span></button>
        <button  type="button" class="btn btn-warning" data-dismiss="modal">@Messages("close")</button>
        
      </div>      
    </div>
  </div>
</div>

