@* UpdateAdImpressionDialog Template File *@
<div  class="modal fade"  id="updateImpressionDialog"  tabindex="-1" role="dialog" aria-labelledby="updateImpressionDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      
<div class="panel panel-success">
  <div class="panel-heading">
  	<h4>@Messages("update_impression")</h4>
</div>
<br>
      	<div class="row">
      		<div class="col-md-2">
      		<div class="pull-right">
      		@Messages("new_value")
      		</div>
      		</div>      	
      		<div class="col-md-6">
			<input min="0.01" step="0.01" max="10" style="border-width:3px;border-style:solid;border-color:#009900;border-radius:5px;text-align:right;" ng-model="updateImpression" type="number" />
      		</div>
      	</div>      	
</div>      
      
</div>
   	  <div class="modal-footer">
        <button ng-show="updateImpression" ng-click="updateAdImpression()" type="button" class="btn btn-primary">@Messages("Submit")<span class="glyphicon glyphicon-save"></span></button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">@Messages("close")</button>
        
      </div>      
    </div>
  </div>
</div>

