@* UploadMedia Template File *@
<script>
function mediaUploadCtrl($scope) {
	$scope.isPosting=false;
	$('#postAnim_design').hide();

	$scope.posting = function () {
    	$scope.isPosting=true;
    	$('#postAnim_design').show();
	};	
}

</script>
<div ng-controller="mediaUploadCtrl" class="panel panel-success">
  <div class="panel-heading"><h3>@Messages("media_upload")</h3>
  
  </div>
  
  <div class="panel-body">
<blockquote><h4>@Messages("media_upload_description")</h4></blockquote>

<div  class="panel panel-default">
  <div class="panel-body">
  
		<div id="postAnim_design">
    			<img src="assets/images/loader.gif" class="ajax-loader"/>
			</div>

	<iframe ng-show="isPosting" onload="$('#postAnim_design').hide()" frameborder="0" name="status_frame_design"></iframe>
	<div class="row">
	<div class="col col-lg-6">
		<form enctype="multipart/form-data" method="post" name="form" role="form" novalidate class="css-form" action="accountMedia" target="status_frame_design">
		<div class="form-group">
		    <input hidden type="text" value="{{ACCOUNT_ID}}" name="accountId">
		    <input hidden type="text" value="" name="mediaId">
			<select   id="mediaType" class="form-control" name="mediaType">
			    <option selected value="picture">@Messages("media_type_picture")</option>
				<option value="prompt">@Messages("media_type_prompt")</option>
				<option value="video">@Messages("media_type_video")</option>
			</select>		    
			<input maxlength="50" type="text" class="form-control" placeholder="@Messages("description")" name="mediaDescription">
			<input id="mediaFile" class="form-control" type="file" name="media">
		</div>
        <div class="modal-footer">
            <button  ng-click="posting()" type="submit" class="btn btn-lg btn-primary">@Messages("Upload")</button>
            <button  ng-click="nextPage()" type="reset" class="btn btn-lg btn-primary">@Messages("Skip")</button>
        </div>
        
<script type="text/javascript">
        $('#mediaFile').bind('change', function() {
            if(this.files[0].size>200000 && $('#mediaType').val()=='picture') {
            	alert(' @Messages("image_too_big")');    
            }    
        });
        
    </script>

        
        
	</form>
	</div>
	
	</div>
	
  </div>
</div>
  </div>
</div>
