@* editDesignDialog Template File *@
<div>
        <div class="modal-header  alert-success">
            <h3 class="modal-title">@Messages("Edit.Design")</h3>
        </div>
        <div class="modal-body">
        <form name="form" novalidate  role="form">
          <div class="form-group">
			<TextArea class="form-control" required ng-model="data.description" placeholder="@Messages("Description")"></TextArea>
          </div>
        </form>        	
        </div>
        <div class="modal-footer">
            <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="ok()">@Messages("OK")</button>
            <button class="btn btn-warning" ng-click="cancel()">@Messages("Cancel")</button>
        </div>
</div>
