@* accountupdate Template File *@

<div class="modal fade in" id="updateAccountModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-title">
		<div class="alert alert-success">
			<span>@Messages("update_account")</span>
		</div>	
    	
    </div>    
      <div class="modal-body">
		@views.html.account.accounttemplate()
		</div>
      <div class="modal-footer">
        <div ng-show="requestSent" >
        	@Messages("saving")
        	<span class="glyphicon glyphicon-save"></span>
        </div>
        <div ng-show="!requestSent" >
        <button ng-click="retrieveAccount()" type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
        <button ng-disabled="form.$invalid" ng-click="save()" type="button" class="btn btn-primary">@Messages("save")</button>
        </div>
      </div>
  </div>
</div>
</div>



	

