@main("Welcome to jeoboo") {
<div ng-controller="jeobooindex">
<div class="container">
    <div class="row">
        <div class="col-xs-3 column">
        </div>
        <div class="col-xs-6 column">
            <div class="page-header">
                <h1>
                    <a href="">Jeoboo! </a>
                </h1>
                Share your messages, images anonymously around any url,topics or subject with others.
            </div>
        </div>
        <div class="col-xs-3 column">
        </div>
    </div>


    <div class="row">
        <div class="col-xs-3 column">
            </div>
        <div class="col-xs-6 column">
        <div class="input-group input-group-lg">
            <input ng-keypress="topicNamePress($event)" ng-model="topicName" type="text" class="form-control" id="topic" name="topic" />
        <span class="input-group-btn">
                <a ng-href="{{urlViewParam}}" ng-disabled="!topicName" class="btn btn-info" role="button">Join</a>
        </span>

        </div>
</div>
        <div class="col-xs-3 column">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-3 column">

        </div>
        <div class="col-xs-6 column">
            <div class="row">
                <div class="col-xs-6 column">
                    <a href="https://chrome.google.com/webstore/detail/jeoboo-anonymous-blog/oojogpfdhaakcbhgfpedcdampkejbfoj"><img src="@routes.Assets.versioned("images/googleicon48.png")">Google Chrome Extension</a>

                </div>
                <div class="col-xs-6 column">
                    <a href="https://chrome.google.com/webstore/detail/jeoboo-anonymous-blog/oojogpfdhaakcbhgfpedcdampkejbfoj">Integrate with your website!</a>
                </div>
                <div class="col-xs-4 column">
                </div>
            </div>
        </div>
        <div class="col-xs-3 column">
        </div>
    </div>



</div>
</div>
}
