@(urlString:String,urlHashCode:Int,wsServer:String,random:Boolean)
@main("Welcome to Jeoboo") {
<div class="mainColor" id="app" ng-cloak ng-controller="JeobooController" data-url='@urlString' data-url-hashcode='@urlHashCode' data-ws-server='@wsServer'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <a href="http://www.jeoboo.com/" target="_blank">
                        <h3>Jeoboo</h3>
                    </a>
                    <div >
                        <img src="http://www.google.com/s2/favicons?domain=@urlString">
                        @if(!random) {
                        <a href="@urlString" target="_top">@urlString</a>
                        } else {
                        <a href="" target="_top">@urlString</a>
                        }
                        <div class="row">
                            <div class="col-xs-12">
                                <input ng-model="filterText" type="text" placeholder="Filter" class="pull-right btn"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  style="top: 50%;left: 50%;position:fixed;"  id="spinner" class="spinner" >
            <img ng-hide="hideSpinner" id="img-spinner" src="@routes.Assets.versioned("images/ajax-loader.gif")" alt="Loading"/>
        </div>
        <div ng-hide="hideError" class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" ng-click="hideError=true;" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div>{{errorMessage}}</div>
        </div>
        <a class="centerDiv" ng-show="messageItems.length==0" href="">
            <h5>Type something or drop a picture, be the first!. </h5>
        </a>
        <div ng-show="messageItems.length>0" id="tableContainer" ng-style="tableStyle" >
            <table id="messageTable" class="table">
                <tr ng-repeat="messageItem in messageItems | filter:filterText">
                    <td>
                        <table width="100%">
                            <tr ng-show="messageItem.showDate">
                                <td colspan="2">
                                    <div ng-show="messageItem.showDate">
                                        <h3>{{messageItem.date}}</h3>
                                    </div>
                                </td>
                            </tr>
                            <tr on-long-press="itemOnLongPress(messageItem)" ng-mouseover="editIconsVisible=true" ng-mouseleave="editIconsVisible=false">
                                <td style="vertical-align: Top;" width="15%">{{messageItem.time}}</td>
                                <td ng-show="messageItem.messageType==0" ng-click="editMessage(messageItem)" width="70%">
                                    <div ng-show="!messageItem.link">{{messageItem.message}}</div>
                                    <div ng-show="messageItem.link"><a ng-href="{{messageItem.message}}">{{messageItem.message}}</a></div>
                                </td>
                                <td ng-show="messageItem.messageType==1" width="70%"><a ng-href="{{messageItem.file}}"><img  style="width: 80%;overflow: hidden;" ng-src="{{messageItem.file}}"/></a></td>
                                <td style="vertical-align: Top;" ng-hide="false && !editIconsVisible" width="15%" style="font-size:95%">
                                    <a href="">
                                        <span class="glyphicon glyphicon-thumbs-down" ng-click="tumbMessage(messageItem,false)" aria-hidden="true">{{messageItem.tDown}}</span>
                                        <span class="glyphicon glyphicon-thumbs-up" ng-click="tumbMessage(messageItem,true)" aria-hidden="true">{{messageItem.tUp}}</span>
                                        <span ng-click="deleteMessage(messageItem)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="previewsContainer" class="previewsContainerNone" style="display:none;"></div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group input-group-s">
                        <input ng-keypress="messageKeyPress($event)" ng-model="message" type="text" class="form-control input-s" >
                  <span class="input-group-btn">
                     <button ng-disabled="!message" ng-click="addMessage()" class="btn btn-default btn-s" type="submit">Send</button>
                     <div id="uploadFileButton" class="btn btn-default btn-s" type="submit">
                         <span id="uploadFileButtonIcon" class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                     </div>
                  </span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <a href="">Share your messages, images anonymously around any url,topics or subject with others. </a>
                </div>
            </div>
        </div>
    </footer>
</div>
}