address, article, aside, audio, blockquote, canvas, dd, div, dl, fieldset, figcaption, figure, footer, form, h1,h2,h3,h4,h5,h6, header, noscript, ol, output, p, pre, section, table, tfoot, ul, video {
margin: 0;

padding: 0;

}
.css-form input.ng-invalid.ng-dirty {
   background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
   background-color: #78FA89;
}

.ads-allow-all {
	color:#FF0000;
}

.delete-ad-destination-mouse-over {
  color: red;
}

#mydiv {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100000;

 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}