@* addRouteDialog Template File *@
<div>
        <div class="modal-header  alert-success">
            <h3 class="modal-title">@Messages("Add.Route")</h3>
        </div>
        <div class="modal-body">
        <form name="form" novalidate  role="form">
          <div class="form-group">
            <label for="inputDialingCode">@Messages("Gateway")</label>
            <select required ng-options="providergateway.endpointip for providergateway in providergateways" ng-model="data.providergateway" class="form-control"></select>
          </div>
        </form>        	
        </div>
        <div class="modal-footer">
            <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="ok()">@Messages("OK")</button>
            <button class="btn btn-warning" ng-click="cancel()">@Messages("Cancel")</button>
        </div>
</div>