@* destinations Template File *@
   <div class="row">
      <div class="col-md-1">
         <span>
         @Messages("Countries")</span>
      </div>
      <div class="col-md-4">
         <select ng-options="country.name for country in countries" ng-model="selectedCountry" ng-change="countryChanged()" class="form-control">
         </select>
      </div>
   </div>
   <br/>
   <div class="row">
      <div class="col-md-1">
         <span>
         @Messages("Destinations")</span>
      </div>
      <div class="col-md-4">
         <select ng-options="destination.name for destination in destinations" ng-model="selectedDestination" ng-change="destinationChanged()" class="form-control">
         </select>
      </div>
   </div>
   <div>
      <br/>
      <div class="row">
         <div class="col-md-12">
            <tabset >
               <tab heading="@Messages("Dialing.Codes")">
               <div class="row">
                  <div class="col-md-12">
                     <Button ng-show="selectedDestination!=null" class="btn btn-md btn-success pull-left" ng-click="createDialingCode()">@Messages("Add.Dialing.Code")</Button>
                  </div>
               </div>
               <div class="row" style="height:500px;overflow:auto;">
                  <div class="col-md-12">
                     <table class="table table-striped table-bordered table-condensed table-hover">
                        <thead>
                           <tr>
                              <td></td>
                              <td></td>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="dialingCode in dialingCodes">
                              <td><a href="" ng-click="deleteDialingCode(dialingCode.da,$index)"><span style="color:red;" class="glyphicon glyphicon-remove"></a></td>
                              <td>{{dialingCode.da}}</td>
                        </tbody>
                     </table>
                  </div>
               </div>
               </tab>
               <tab ng-click="retrieveRates()" heading="@Messages("Rates")">
               <div class="row">
                  <div class="col-md-12">
                     <Button ng-show="selectedDestination!=null" class="btn btn-md btn-success pull-left" ng-click="addRate()">@Messages("Add.New.Rate")</Button>
                  </div>
               </div>
               
               <table class="table table-striped table-bordered table-condensed table-hover">
                  <thead>
                     <tr>
                        <td>@Messages("Provider")</td>
                        <td>@Messages("Rate.Type")</td>
                        <td>@Messages("Rate")</td>
                        <td>@Messages("Delete")</td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="rate in rates">
                        <td>{{rate.accountName}}</td>
                        <td>{{rate.rateTypeId}}</td>
                        <td>{{rate.rate | number:6 }}</td>
                        <td><a href="" ng-click="deleteRate(rate.id,$index)"><span style="color:red;" class="glyphicon glyphicon-remove"></a></td>
                     </tr>
                  </tbody>
               </table>
               </tab>
               <tab ng-click="retrieveRoutes()" heading="@Messages("Routes")">
               <div class="row">
                  <div class="col-md-12">
                     <Button ng-show="selectedDestination!=null" class="btn btn-md btn-success pull-left" ng-click="addRoute()">@Messages("Add.Route")</Button>
                  </div>
               </div>
               
               <table class="table table-striped table-bordered table-condensed table-hover">
                  <thead>
                     <tr>
                        <td>@Messages("Active")</td>
                        <td>@Messages("Provider")</td>
						<td>@Messages("Delete")</td>                        
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="route in routes">
            		 <td>
            		  <a href=""><span ng-click="toggleRoute(route)" class="glyphicon glyphicon-ok" ng-show="route.active"></span></a>
            		  <a href=""><span ng-click="toggleRoute(route)" class="glyphicon glyphicon-remove" ng-show="!route.active"></span></a>
            		  </td>                     
                        <td>{{route.providerGatewayIP}}</td>
                        <td><a href="" ng-click="deleteRoute(route)"><span style="color:red;" class="glyphicon glyphicon-remove"></a></td>
                     </tr>
                  </tbody>
               </table>
               </tab>               
               
               
            </tabset>
         </div>
      </div>
   </div>
