@* newDialingCodeDialog Template File *@
        <div class="modal-header  alert-success">
            <h3 class="modal-title">@Messages("New.Dialing.Code")</h3>
        </div>
        <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="inputDialingCode">@Messages("Dialing.Code")</label>
            <input ng-model="da.data" class="form-control" type="text">
          </div>
        </form>        	
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">@Messages("OK")</button>
            <button class="btn btn-warning" ng-click="cancel()">@Messages("Cancel")</button>
        </div>
