@* newRateDialog Template File *@
<div>
        <div class="modal-header  alert-success">
            <h3 class="modal-title">@Messages("New.Rate")</h3>
        </div>
        <div class="modal-body">
        <form name="form" novalidate  role="form">
          <div class="form-group">
            <select required ng-options="provider.companyName for provider in providers" ng-model="addRate.account" class="form-control">
            <input min='0' max='100' required ng-model="addRate.rate" class="form-control" type="number">
            <select required class="form-control" ng-model="addRate.rateTypeId"><option value="B" Selected >Buy</option><option selected value="S">Sell</option></select>
          </div>
        </form>        	
        </div>
        <div class="modal-footer">
            <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="ok()">@Messages("OK")</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</div>