@* confirmationDialog Template File *@
        <div class="modal-header alert-danger">
            <h3 class="modal-title">@Messages("Action")</h3>
        </div>
        <div class="modal-body">
        	@Messages("Are.you.sure?")
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">@Messages("Yes")</button>
            <button class="btn btn-warning" ng-click="cancel()">@Messages("No")</button>
        </div>
